.ui.one.column.grid.presets
    .column
        h1.ui.header Presets
        table.ui.three.column.table.basic
            thead
                tr
                    th.six.wide Name
                    th.four.wide Category
                    th.six.wide Actions
            tbody
                tr.no-presets(data-ng-if="!presets.mediaPresets")
                    td.negative(colspan="3")
                        | No presets found.
                tr.preset(data-ng-repeat="preset in presets.mediaPresets")
                    td
                        a(data-ui-sref="presets.detail({id: preset.id})")
                            | {{ preset.name }}
                    td {{ preset.category }}
                    td
                        .ui.buttons.mini
                            .ui.secondary.labeled.icon.button(title="View command", data-popup="")
                                i.terminal.icon
                                | View
                            .or
                            a.ui.labeled.button.icon(
                            title="Edit Preset",
                            data-popup="",
                            data-ui-sref="presets.detail({id: preset.id})"
                            )
                                i.edit.icon
                                | Edit
                            .or
                            .ui.negative.button.icon(title="Delete preset", data-popup="")
                                i.remove.icon
