.ui.accordion(data-ui-accordion="")
    .title
        i.dropdown.icon
        | test
    .content
        p some text

    .title
        i.dropdown.icon
        | test
    .content
        p some text
