.ui.accordion(data-ui-accordion="")
    .title(data-ng-repeat-start="preset in [1,2,3]")
        i.dropdown.icon
        | test
    .content(data-ng-repeat-end="", data-ui-accordion-item="")
        p some text

