.ui.column
    h2 Output settings

    .ui.form
        .field
            label Output format
                .ui.left.labeled.icon.input
                    input(
                        data-ng-model="presetCreate.preset.fileFormat"
                        type="text"
                    )

                    i.hdd.icon

                    .ui.corner.label
                        i.asterisk.icon
